*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strom-colud: #515f68;
  --picton-blue: #4bcaff;
  --arsenic: #353f47;
  --white: #fff;
}

html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.section-header {
  max-width: 350px;
}

.section-header h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: -0.3rem;
}

.section-header .heading-border {
  width: 64px;
  height: 2px;
  background: var(--white);
}

.portfolio-top-nav .section-header .heading-border {
  background: var(--arsenic);
}

/* Navbar */

.navbar {
  padding: 1rem 0;
  /* background: var(--arsenic); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.navbar .logo {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
}

.navbar .logo span {
  color: var(--picton-blue);
}

.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar a {
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.3s;
}

.navbar a:hover {
  color: var(--picton-blue);
}

/* Mobile Menu */

.navbar .mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #353f47fa;
  opacity: 0.9;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top: 2px solid #4bc9ff8a;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: #353f47c5;
  backdrop-filter: blur(10px);
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar .mobile-menu-list a {
  font-size: 1rem;
}

/* Hero Section */

.hero {
  background: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?q=80&w=1217&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center center/cover no-repeat;

  color: var(--white);
  overflow-x: hidden;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #353f4787;
}

.hero-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11.5rem 2rem 8rem;
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero-content h1 {
  text-transform: uppercase;
  font-weight: 200;
  background: #353f4780;
  font-size: 2.5rem;
}

.hero-content h1:first-child {
  margin-bottom: 1rem;
}

/* Services Section */

.service {
  background: var(--picton-blue);
  color: var(--white);
  padding: 3rem 0;
}

.services-box {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.service-box-img {
  width: 45px;
  height: 45px;
}

.service-box-img img {
  max-width: 100%;
  height: 100%;
}

.service-box-text h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0 1.5rem;
}

.service-box-text p {
  font-size: 0.8rem;
}

/* Portfolio Section */

.portfolio {
  color: var(--arsenic);
  padding: 3rem 0;
}

.portfolio-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.portfolio-menu-list a {
  text-transform: uppercase;
  color: var(--strom-colud);
  transition: all 0.3s;
}

.portfolio-menu-list a:hover {
  color: var(--picton-blue);
}

.portfolio-box {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.portfolio-img-box {
  overflow: hidden;
}

.portfolio-img-box img {
  display: block;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.5s;
}

.portfolio-img-box img:hover {
  transform: scale(1.5);
}

/* Default Section */

.default {
  color: var(--white);
  background: var(--strom-colud);
  padding: 3rem 0;
}

.default-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  column-gap: 3rem;
}

.default-right img {
  display: block;
  max-width: 100%;
}

.default-left .default-detail {
  font-size: 0.8rem;
  margin: 2rem 0;
  font-weight: 300;
}

.default-btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--arsenic);
  border: 1px solid var(--arsenic);
  padding: 0.8rem 2.5rem;
  font-weight: 600;
  transition: all 0.5s;
}

.default-btn:hover {
  border-color: var(--white);
  background: var(--picton-blue);
  color: var(--white);
}

/* Social Section */

.social {
  color: var(--white);
  background: var(--picton-blue);
  padding: 3rem 0;
}

.social-top-nav .section-header h2 {
  font-weight: 200;
}

.social-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-content {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.social-content span {
  font-weight: 600;
}

/* Whois Section */

.whois {
  color: var(--white);
  padding: 3rem 0;
  background: url("../images/john_doe_bg.jpg") center center/cover no-repeat;
  position: relative;
}

.whois::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #353f47e7;
}

.whois-container {
  position: relative;
}

.whois-content {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.whois-left,
.whois-right {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.whois-right .whois-social {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
}

.whois-right .whois-social i {
  border: 1px solid var(--white);
  padding: 1rem;
  transition: all 0.3s;
}

.whois-right .whois-social i:hover {
  border-color: var(--picton-blue);
  color: var(--picton-blue);
}

/* Testimonials Section */

.testimonial {
  color: var(--strom-colud);
  padding: 3rem 0;
}

.testimonial-content p:first-child {
  margin: 1.5rem 0;
  font-size: 1rem;
}

.testimonial-content p:last-child {
  color: var(--picton-blue);
  font-size: 0.6rem;
}

/* Footer Section */

.footer {
  padding: 3rem 0;
  color: var(--strom-colud);
  background: var(--arsenic);
  font-size: 0.7rem;
  font-weight: 600;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-nav-list li {
  border-right: 1px solid var(--strom-colud);
  padding: 0 1rem;
}

.footer-nav-list li:last-child {
  border-right: none;
}

.footer-nav-list a {
  text-transform: uppercase;
  color: var(--strom-colud);
  font-size: 0.7rem;
  font-weight: 600;
  transition: all 0.3s;
}

.footer-nav-list a:hover {
  color: var(--picton-blue);
}

/* Contact Section */

.contact {
  color: var(--white);
  padding: 3rem 0;
  background: url("https://images.unsplash.com/photo-1480365334925-2aee561aa28e?q=80&w=2096&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    center center/cover no-repeat;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #353f47e7;
}

.contact-container {
  position: relative;
}

.contact-form {
  margin-top: 2rem;
}

.top-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.form-group label {
  display: block;
}

.form-group input {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
  background: transparent;
  border: none;
  border: 1px solid var(--white);
}

.form-right p {
  font-size: 0.7rem;
}

.form-right ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-right ul li {
  font-size: 0.7rem;
}

.bottom-form {
  margin-top: 1rem;
}

.bottom-form label {
  display: block;
  margin-bottom: 1rem;
}

.bottom-form textarea {
  width: 100%;
  height: 400px;
  background: transparent;
  border: none;
  border: 1px solid var(--white);
}

.form-btn {
  font-family: inherit;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem 4rem;
  border: none;
  background: var(--picton-blue);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

.form-btn:hover {
  opacity: 0.8;
}

/* Media Queries */

@media (max-width: 1200px) {
  .services-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .services-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .main-menu-items {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .portfolio-top-nav {
    flex-direction: column;
    gap: 1rem;
  }

  .portfolio-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .default-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .default-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .services-box {
    grid-template-columns: 1fr;
  }

  .portfolio-box {
    grid-template-columns: 1fr;
  }

  .portfolio-menu-list a {
    font-size: 0.8rem;
  }

  .portfolio-menu-list {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .whois-content {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .footer-flex {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-nav-list {
    flex-wrap: wrap;
  }

  .top-form {
    grid-template-columns: 1fr;
  }
}
